.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* my CSS */

.ex_glasses{
  height: 100vh;
  width: 100vw;
  background: url(../public/glassesImage/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.head_title{
  color: white;
  background-color: #2022277a;
  height: 10vh;
}
.head_title p{
  line-height: 10vh;
}

.model_glasses{
  width: 250px;
  height: 300px;
  background: url(../public/glassesImage/model.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
 .vGlasses{
  width: 120px;
  position: absolute;
  top: 75px;
  left: 65px;
}
.glasses_info{
  width: 100%;
  background: rgba(255, 153, 0, 0.486);
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  padding-left: 5px;
}
.glasses_info h4{
  color: rgb(141, 82, 250);
  font-size: 16px;
}
.glasses_info button{
  padding: 0px 8px;
}
.glasses_info h6{
  color: white;
  font-size: 12px;
}

.glasses{
  background: rgba(0, 128, 0, 0.123);
  width: 80%;
}
.glasses_img{
  width: 15%;
}
